* {
    margin: 0;
    overflow: hidden;
}

#main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-color: #F3B017;
    
    filter: blur(4px);
    -webkit-filter: blur(4px);

    width: 100vw;
    height: 100vh;
}