* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    background-image: url("../images/background/default.jpg");
    
    filter: blur(4px);

    width: 100vw;
    height: 100vh;
}